* {
    margin: 0;
    padding: 0;
    overflow: auto;
}
body {
    background-color: rgb(183, 183, 235);
    font-family: Arial;
    margin-top: 50px;
}
.recette {
    text-align: center;
    margin-bottom: -20px;
}
p.categorie {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    margin-top: 0;
}

p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}
.div_p {
    text-align: center;
    
}
.contenu {
    background-color: white;
    margin: 0 10% 80px;
    padding: 50px 30px 0;
    min-width: 300px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.73);
    overflow: visible;
}
h1 {
    text-align: center;
    font-weight: bold;
}
.separateur {
    width: 100px;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}
.img {
    position: relative;
}
.img img {
    width: 100%;
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 400px;
    background-color: rgba(234, 230, 230, 0.88);
}
.img #table {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: white;
    background-color: #6c8290b6;
    text-align: center;
}
.img #table th {
    font-size: 18px;
    vertical-align: bottom;
    padding: 4px ;
}
.img #table td {
    font-size: 16px;
    vertical-align: top;

}
.colonne {
    width: 45%;
}
.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 10px;
    border-bottom: 5px solid rgb(116, 137, 144);
    padding-bottom: 5px;
}
.colonne1 {
    display: inline-block;
    margin-right: 10%;
}
.colonne2 {
    float: right;
}
.liste {
    text-align: center;
}
.liste p {
    border: 1px solid rgb(140, 176, 188);
    margin: 10px 0;
    padding: 10px;
    font-size: 15px;
}
.preparation #numero {
    background-color: #6c8290b6;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}
.preparation #etape {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.preparation tr {
    height: 40px;
}